body {
    font-family: 'Roboto', sans-serif;
}
ul{
    padding-left: 15px;
}
li {
    color: #5E6366;
    list-style: none;

    .menu-row{
        display: flex;
        align-items: center;

        .arrow_icon{
            width: 16px;
            display: flex;
            align-items: center;
            transform: rotate(-90deg);
            transition: all .3s;
            &.active{
                transform: rotate(0);
            }
        }
        .menu-image{
            margin: 0 5px;
        }
    }

}